/*================================================================================
	Item Name: Stack - Responsive Admin Theme
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #00b5b8;
}

input:focus + .slider {
  box-shadow: 0 0 1px #00b5b8;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.cnty-btn {
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 40px;
    padding: 9px 18px;
    display: flex;
    cursor: pointer;
    margin-top: 25px;
}
span.country-name-text {
    width: 100%;
}
.cnty-btn span.circle-right {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #ccc;
    background: #ccc;
    margin-top: 5px;
}
.cnty-btn.active span.circle-right {
    background: #5ac5ee;
} 
.cnty-btn.active span.country-name-text {
    color: #5ac5ee;
}
.cnty-btn.active {
    border: 1px solid #5ac5ee;
}
.cnt-wrapper .nav.nav-tabs .nav-item .nav-link.active {
    background: #5ac5ee;
    color: #fff;
}
.cnt-wrapper  .nav.nav-tabs .nav-item .nav-link {
    padding: .5rem .7rem;
    color: #5ac5ee;
    border: 1px solid #5ac5ee;
    border-radius: 0px;
}
hr.line-bx {
    height: 1px;
    background: #a9a9a9;
    margin-top: 36px;
}

.panel.panel-default.mamberpanel {
    width: 265px;
    position: absolute;
    right: 0px;
}
.panel.panel-default.mamberpanel ul.list-group.contact-list-box li.list-group-item {
    display: table;
}
.panel-heading.c-list span {
    background: #5ac5ee;
    width: 100%;
    float: left;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    position: relative;
}
.user-img-lft img {
    width: 100%;
    border-radius: 50%;
}
i.fa.fa-times.closeicon {
    position: absolute;
    right: 16px;
    top: 15px;
    cursor: pointer;
}
.dot-ac {
    
    width: 10px;
    height: 10px;
    position: absolute;
    right: 10px;
    top: 19px;
    border-radius: 100%;
}
.color-online{background: #26bb00;}
.color-offline {background: #ff0909;}
.panel.panel-default.mamberpanel {
    width: 345px;
    position: fixed;
    right: 0px;
    top: 56px;
    height: 100vh;
    background: #fff;
    border-left: 1px solid #E4E7ED;
    margin-right: -345px;
    transition: all ease 1s;
}
ul.list-group.contact-list-box li:last-child {
    border-bottom: 0px;
}
.panel.panel-default.mamberpanel.open {
    margin-right: 0px;
}
.panel.panel-default.mamberpanel ul.list-group.contact-list-box li.list-group-item {
    border-left: 0px;
}
span.showactive {
    margin-top: 4px;
    background: #fff;
    display: block;
    color: #000;
    padding: 6px 17px;
    border-radius: 3px;
}

/*wrappermessage css start*/
.wrappermessage img{ max-width:100%;}
.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%; border-right:1px solid #c4c4c4;
}
.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}
.top_spac{ margin: 20px 0 0;}


.recent_heading {float: left; width:40%;}
.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%; padding:
}
.headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}

.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}
.srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
.srch_bar .input-group-addon { margin: 0 0 0 -27px;}

.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img {
  float: left;
  width: 11%;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}
.active_chat{ background:#ebebeb;}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }
 .received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.received_withd_msg { width: 57%;}
.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 60%;
}
.sent_msg p {
    background: #5ac5ee none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    margin: 0;
    color: #fff;
    padding: 5px 10px 5px 12px;
    width: 100%;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
  float: right;
  width: 46%;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {border-top: 1px solid #c4c4c4;position: relative;}
.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}
.messaging { padding: 0 0 50px 0;}
.wrappermessage img {
    max-width: 100%;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
/*wrappermessage css end*/